@{
    ViewData["Title"] = "CONTACT";
}

<h1 class="display-4">Ajoute des contacts!!!</h1>

<body>
<div >
    <div >
        <br><br><br>
        <label>Nom:</label>
            <br>
        <input type="text" >
        <br><br><br>
        <label>Prénom:</label>
            <br>
        <input type="text" >
        <br><br><br>
        <label>Email:</label>
            <br>
        <input type="text" >
        <br><br><br>

    </div>

    <button id="ajouterPersonne">Ajouter une personne</button>
	</div>
</body>