@{
    ViewData["Title"] = "CONTACT";
}

<h1 class="display-4">regarde des contacts!!!</h1>


<body>
    <table border="1">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Smith</td>
                <td>John</td>
                <td>Doejame@gmail.cm</td>
            </tr>
            <tr>
                <td>Doe</td>
                <td>Jane</td>
                <td>Doejame@gmail.cm</td>
            </tr>

        </tbody>
    </table>

</body>



