@{
    ViewData["Title"] = "CONTACT";
    NewContact nouveauContact = new("Jean", "Pleutre", "jp@oui.com");
    ViewData["Nouveau Contact"] = nouveauContact;
}

<h1 class="display-4">regarde des contacts!!!</h1>


<body>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@nouveauContact.Nom</td>
                <td>@nouveauContact.Prenom</td>
                <td>@nouveauContact.Email</td>
            </tr>
        </tbody>
    </table>

</body>



