@model List<Contact>
@{
	ViewData["Title"] = "CONTACT";

}

<h1 class="display-4">Recherchez un contact :</h1>


<body>
	<div>

		<br><br><br>
		<form id="rechercheForm" method="get" action="/Contact/FindByID">
			
			<label for="rechercheid">ID:</label>
			<br><br />
			<input type="text" id="rechercheid" name="rechercheid" placeholder="Entrez l'ID">
			<br><br />
			<button type="submit">Rechercher</button>
		</form>

	</div>
</body>
