@{
	ViewData["Title"] = "CONTACT";
}

<h1 class="display-4">Regarde les contact!!!</h1>

<h2>Liste des Contacts</h2>


<head>

</head>


<body>
	<ul>
		<li>Nom </li>
		<li>Email</li>
		<li>Action</li>
	</ul>

</body>


