@model List<Contact>
@{
	ViewData["Title"] = "CONTACT";

}

<h1 class="display-4">regarde des contacts!!!</h1>


<body>
	<table class="table table-sm">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nom</th>
				<th scope="col">Prenom</th>
				<th scope="col">Email</th>
			</tr>
		</thead>
		<tbody>

			@{
				foreach (var contact in Model)
			{
				<tr>
					<td>@contact.Id</td>
					<td>@contact.Nom</td>
					<td>@contact.Prenom</td>
					<td>@contact.Email</td>
				</tr>
			}}
		</tbody>
	</table>

</body>